<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
    <h1><center>INI BLOG SAYA</center></h1>
    {% include "menu.html" %}

    
        {% for blog in blogs %}
           <h2>{{ blog.judul}}</h2>
           oleh <i>{{ blog.penulis }}</i> - pada {{ blog.tanggal}}
        {% endfor %}
    
      
</body>
</html>