<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
     <h1><center>CONTACT ME</center></h1>
     {% include "menu.html" %}

     <ul>
         <li>Email: <a href="jakahnp@gmail.com">jakiahnp@gmail.com</a></li>
         <li>WA: <a href="089765432125">089765432125</a></li>
         <li>Facebook: <a href="Jakiah Nurul">Jakiah Nurul</a></li>
     </ul>

</body>
</html>